*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 140px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}

.container .heading h3 span{
    font-weight: 100;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}    



  
:root{
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color:#6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navbar{
    display: flex;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 137.55px;
    background: #fff;
    position: absolute;
    z-index: 100000;
    display: none;
}
ul li a:hover ul.dropdown{
    background: #1067cc;
}
ul li:hover ul.dropdown {
    display: block;
}
.dropdown {
    background-color: #1067cc;
    border-radius: 0 0 5px 5px;
    padding: 0;
    color: black;
  }
  
  .dropdown li {
    display: block;
    width: 100%;
  }
  .color .dropdown a{
    color: var(--text-color);
  }
  
  .dropdown a {
    color: black;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: left;
    color: black;
  }
  .dropdown-resources a {
    color: black !important;

  }
  
  .dropdown a:hover {
    background-color: #fff;
    color: #1067cc;
  }
  

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease-in-out .40s;
    border: 2px solid transparent;
}

.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    border-color: var(--bg-color);
}
#menu-icon{
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 80px 18%;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/heraldika1.jpg);
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
.home-text h1{
    font-size: var(--h2-font);
    line-height: 1.2;
    color: var(--bg-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    justify-items: center;    
}
.home-text p{
    color: #ffffffbf;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}
.home-btn{
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    background: #ffffffbf;
    color: var(--main-color);
    border-radius: 4px;
    transition: ease .40s;
}
.home-btn:hover{
    background: var(--bg-color);
    transform: scale(1.1);
}
header.sticky{
    background: var(--bg-color);
    padding: 10px 18%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
    color: var(--text-color);
}
.sticky .navbar a{
    color: var(--text-color);
}

.text h2{
    font-size: var(--h2-font);
    line-height: 1.1;
}
.title{
    text-align: center;
}
.title h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.package-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.thum{
    position: relative;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: filter;
    cursor: pointer;
}
.thum img{
    width: 100%;
    height: auto;
}
.dest-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}
.location h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.thum:hover{
    filter: brightness(100%) hue-rotate(25deg);
    transform: scale(1.04);
}

.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.col-content{
    position: relative;
}
.col-content img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
}
.col-content h5{
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: var(--bg-color);
    left: 15px;
    bottom: 60px;
}
.col-content p{
    position: absolute;
    font-size: 15px;
    color: var(--bg-color);
    left: 15px;
    bottom: 40px;
    letter-spacing: 2px;
}
.col-content img:hover{
    filter: brightness(100%) hue-rotate(25deg);
    transform: scale(1.04);
    cursor: pointer;
}
.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 3rem;
}
.news-text h2{
    font-size: var(--h2-font);
    margin-bottom: 5px;
}
.news-text {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 30px;
}
.newsletter form{
    max-width: 100%;
    width: 450px;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    outline: none;
    border: none;
    border-radius: 15px;
}
.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    padding: 14px 30px;
    border-radius: 15px;
    background: var(--main-color);
    color: var(--bg-color);
    top: 6px;
    right: 6px;
    cursor: pointer;
}

#contact{
    background: var(--main-color);
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 20px 0;
}
.list{
    width: 25%;
}
.list h4{
    font-size: 21px;
    color: var(--bg-color);
    margin-bottom: 30px;
    position: relative;
}
.list h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: var(--bg-color);
}
.list ul li:not(:last-child) {
    margin-bottom: 16px;
}
.list ul li a{
    color: #ffffffbf;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
}
.list ul li a:hover{
    color: var(--bg-color);
    transform: translateX(14px);
}
.list .social a{
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
.list .social a:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 760px){
    .container .box{    
        flex-direction: column;       
    }
    .container .box .dream{
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    .container .heading{
        width: 100%;   
    }
    .container .heading h3{
        font-size: 1em;       
    }
}